@charset "UTF-8";

body{
   font-size:17px;
   /* font-family: 'SF Pro KR' , 'margun-gothic','dotum', sans-serif; */
   font-family: 'Noto Sans KR', 'SF Display', 'SF Text', 'SF Mono', Sans-Serif;
   width: 100%;
   height: 100%;
   max-width: 2560px;
}

div#wrap{
   width:100%;
}

/* 헤더 */
header#apple_header{
   width:100%;
   background:rgba(0,0,0,0.8);
   position: fixed;
   z-index: 10;
   max-width: 2560px;
}

/* gnb 메뉴 */ 
nav#gnb{
   margin:0 auto;
   max-width:980px;
   height: 44px;
   padding:0 22px;
   position: relative;
}
ul#menu{
   width:100%;
   display:flex;
   justify-content:space-between;
   box-sizing: border-box;
}
#menu li{
   position:relative;
   box-sizing:border-box;
   height:44px;
}
#menu li a, #menu li>label
{
   display:block;
   height:44px;
   text-align:center;
   color:#fff;
   font-size:14px;
   background-repeat:no-repeat;
   background-position:center center;
   padding:0 10px;
   position: relative;
}
#menu li a:hover, #menu li>label:hover {
   opacity: 0.8;
}
#menu li a span, #menu li label span
{
   position:absolute;
   width:1px;
   height:1px;
   top:50%;
   overflow:hidden;
   font-size:0em;
}
#menu li a.gnb_01{
   background-image:url("../images/gnb/image_logo.svg");
   background-size:16px 44px;
   width:16px;
}
#menu li a.gnb_02{
   background-image:url("../images/gnb/image_mac.svg");
   width:1.85714em;
}
#menu li a.gnb_03{
   background-image:url("../images/gnb/image_ipad.svg");
   width: 1.85714em;
}
#menu li a.gnb_04{
   background-image:url("../images/gnb/image_iphone.svg");
   background-size:44px 44px;
   width: 3.14286em;
}
#menu li a.gnb_05{
   background-image:url("../images/gnb/image_watch.svg");
   width: 2.85714em;
}
#menu li a.gnb_06{
   background-image:url("../images/gnb/image_music.svg");
   width: 2.64286em;
}
#menu li a.gnb_07{
   background-image:url("../images/gnb/image_cos.svg");
   width: 3.21429em;
}
#menu li a.gnb_08{
   background-image:url("../images/gnb/image_search.svg");
   width:16px;
   background-size:16px 44px;
}
#menu li .gnb_09 { 
   background-image:url("../images/gnb/image_bag.svg");
   background-size:14px 44px;
   width:14px;
}
/* #menu li .gnb_09:hover .bag_cate1 {
   opacity: 1;
}  */
#menu li .gnb_09 #bagBtn1 {
   display:none;
}
#menu li .gnb_09 .bag_cate1 {
   display: none;
   position: absolute;
   width: 248px;
   height: 315px;
   border: 1px solid #d6d6d6;
   background: #fff;
   top: 48px;
   right: 3px;
   font-size: 0.5em;
   z-index: 3;
   padding: 0 20px;
}
#menu li .gnb_09 .bag_cate1 .bag_view {
   background:#fff;
   position: absolute;
   z-index: 3;
   height:87px;
   width: 248px;
   top: 0;
   left: 0;
   padding: 0 20px;
}
#menu li .gnb_09 .bag_cate1 .bag_menu::before {
   display: block;
   width: 12px;
   height: 12px; 
   border: 1px solid #d6d6d6;
   position: absolute;
   transform: rotate(45deg);
   top: -7px;
   right: 6px;
   background: #fff;
   z-index: 2;
   content: "";
}
#menu li .gnb_09 .bag_cate1 .bag_view p {
   display: block;
   width: 248px;
   height: 87px;
   line-height: 87px;
   text-align: center;
   font-size: 15px;
   color: #888888;
   text-indent: 7px;
   border-bottom: 1px solid #e3e3e3;
   box-sizing: border-box;
}
#menu li .gnb_09 .bag_cate1 .bag_menu {
   width: 248px;
   margin-top: 87px;
   padding-bottom: 10px;

}
#menu li .gnb_09 .bag_cate1 .bag_menu li {
   padding:0 30px;
   border-bottom: 1px solid #e3e3e3;
}
#menu li .gnb_09 .bag_cate1 .bag_menu li:first-child {
   background: url("../images/gnb/mobile/bag_m/bag.svg") no-repeat 5px 12px;
}
#menu li .gnb_09 .bag_cate1 .bag_menu li:nth-child(2) {
   background: url("../images/gnb/mobile/bag_m/favorites.svg") no-repeat 5px 12px;
}
#menu li .gnb_09 .bag_cate1 .bag_menu li:nth-child(3) {
   background: url("../images/gnb/mobile/bag_m/orders.svg") no-repeat 5px 13px;
}
#menu li .gnb_09 .bag_cate1 .bag_menu li:nth-child(4) {
   background: url("../images/gnb/mobile/bag_m/account.svg") no-repeat 5px 12px;
}
#menu li .gnb_09 .bag_cate1 .bag_menu li:last-child {
   background: url("../images/gnb/mobile/bag_m/signIn.svg") no-repeat 5px 12px;
   border: none;
}

#menu li .gnb_09 .bag_cate1 .bag_menu li a {
   display: block;
   width: 100%;
   height: 43px;
   color: #0070c9;
   text-indent: left;
   line-height: 43px;
   font-size: 15px;
   text-align: left;
}
#menu li .gnb_09 #bagBtn1:checked ~ 

#menu li .gnb_09 #bagBtn1:checked ~ .bag_cate1 {
   display: block;
}

/* 데스크탑 모바일 메뉴 */
#apple_header nav#gnb>label, #apple_header #gnb>input, 
#apple_header #gnb>h1.m_logo, #apple_header #gnb form#m_searchbar,
#apple_header #gnb .bag_cate
{
   display:none;
}

/* 모바일 */
@media screen and (max-width:767px) {
   body{
      font-size:17px;
      width:100%;
   }
   div#wrap{
      width:100%;
      /* height: 2000px; */
   }
   header#apple_header{
      width:100%;
      background:rgba(0, 0, 0, 0.8);
      position:fixed;
      left:0;
      top:0;
   }
   header#apple_header::after{
      display:block;
      content:"";
      clear: both;
   }

   #apple_header #gnb {
      width:100%;
      margin:0;
      background:transparent;
      position:relative;
      height:48px;
      padding: 0;
   }

   #apple_header #gnb .gnb_wrap{
      width:100%;
      height:0;
      top:0;
      display: block;
      transition: 0.7s;
      /* transform: scaleY(0); */
      background:#000;
      position: absolute;
      z-index:-1;
      overflow:hidden;
      /* top:-1000px; */
   }

   /* 모바일 로고 */
   #apple_header #gnb>h1.m_logo {
      display: block;
      position:absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
   }
   #apple_header #gnb .m_logo a {
      display: block;
      width: 18px;
      height: 48px;
      padding: 0 10px;
      background: url("../images/gnb/mobile/image_small_logo.svg") no-repeat center center;
   }
   #apple_header #gnb .m_logo a span{
      display: block;
      position: absolute;
      overflow: hidden;
      width: 1px;
      height: 1px;
      z-index: -1;
   } 

   /* 메뉴 버튼 */
  
   #apple_header #gnb .m_btn1{
      display:block;
      position:absolute;
      z-index:4;
      width:48px;
      height:48px;
      left:0;
      top:50%;
      transform:translateY(-50%);
      background-color:transparent;
      cursor: pointer;
   }
   #apple_header #gnb .hamburger{
      position:absolute;
      z-index:3;
      left:9px;
      top:9px;
      width:30px;
      height:30px;
   }
   #apple_header #gnb .hamburger div{
      width:17px;
      height:1px;
      position:absolute;
      z-index:4;
      left:50%;
      transform:translate(-50%,-50%);
      transition:1s;
      background:#fff;
   }
   #apple_header #gnb .hamburger .mini_ham1{
      top:35%;
   }
   #apple_header #gnb .hamburger .mini_ham2{
      top:65%;
   }
   #apple_header #gnb #m_menuBtn {
      display:none;
      /* position:absolute;
      overflow:hidden;
      z-index:-2;
      width:1px;
      height:1px;
      background:transparent;
      left:-9999px; */
   }
   
   /* 모바일 검색창 */
   #apple_header #gnb .gnb_wrap #m_searchbar {
      background:#000;
      width:100%;
      height:101px;
      border-bottom:1px solid #282828;
      box-sizing:border-box;
      text-align:center;
      display:block;
      padding:48px 10px 0 10px;
      margin: auto;
   }
   #apple_header #gnb .gnb_wrap #m_searchbar input{
      display:block;
      margin: auto;
      width:100%;
      max-width: 584px;
      height:36px;
      text-indent:36px;
      font-size:1rem;
      border: none;
      background:#282828 url("../images/gnb/mobile/image_small_search.svg") no-repeat 10px center;
   }

   /* 모바일 메뉴 */

   #apple_header #gnb #menu {
      display:block;
      width:100%;
      margin: auto;
      background:#000;
      box-sizing:border-box;
      padding:0 40px 8px 45px;
   }
   #apple_header #gnb #menu li{
      display:block;
      border-bottom:1px solid #282828;
      box-sizing:border-box;
      margin: auto;
      max-width: 584px;
   }
   #apple_header #gnb #menu li a{
      padding:0;
      background-position: left center;
      background-repeat: no-repeat;
      height: 44px;
      width: 100%;
   }
   /* 메뉴 이미지 */
   #apple_header #gnb #menu li .gnb_02 {
      background-image: url("../images/gnb/mobile/image_small02.svg");
      background-size: 34px 43px;
   }
   #apple_header #gnb #menu li .gnb_03 {
      background-image: url("../images/gnb/mobile/image_small03.svg");
      background-size: 33px 43px;
   }
   #apple_header #gnb #menu li .gnb_04 {
      background-image: url("../images/gnb/mobile/image_small04.svg");
      background-size: 53px 43px;
   }
   #apple_header #gnb #menu li .gnb_05 {
      background-image: url("../images/gnb/mobile/image_small05.svg");
      background-size: 49px 43px;
   }
   #apple_header #gnb #menu li .gnb_06 {
      background-image: url("../images/gnb/mobile/image_small06.svg");
      background-size: 46px 43px;
   }
   #apple_header #gnb #menu li .gnb_07 {
      background-image: url("../images/gnb/mobile/image_small07.svg");
      background-size: 52px 43px;
   }

   #apple_header #gnb #menu li:first-child, 
   #apple_header #gnb #menu li:nth-child(8),
   #apple_header #gnb #menu li:last-child
   {
      display:none;
   }

   /* 모바일 메뉴 오픈 */
   #apple_header #gnb #m_menuBtn:checked ~ .hamburger .mini_ham1 {
      top:15px;
      left:5px;
      transform:rotate(45deg);
      /* transition:0.5s; */
   }
   #apple_header #gnb #m_menuBtn:checked ~ .hamburger .mini_ham2 {
      top:15px;
      left:5px;
      transform:rotate(315deg);
      /* transition:0.5s; */
   }

   #apple_header #gnb #m_menuBtn:checked ~ .gnb_wrap {
      /* transform: scaleY(1); */
      /* transition: 1s; */
      z-index:2;
      height: 100vh;
      top:0;
   }

   /* 모바일 장바구니 */
   #apple_header #gnb .m_btn2 {
      display: block;
      width: 16px;
      height: 48px;
      padding: 0 16px;
      background: url("../images/gnb/mobile/image_small_bag.svg") no-repeat center center;
      background-size: 16px 48px;
      position: absolute;
      z-index: 2;
      right:0;
      top:50%;
      transform: translateY(-50%);
   }
   #apple_header #gnb .m_btn2 span {
      display: block;
      width: 1px;
      height: 1px;
      position: absolute;
      z-index: -1;
      overflow: hidden;
   }
   #apple_header #gnb #m_bagBtn {
      display:none;
      /* position:absolute;
      overflow:hidden;
      z-index:-2;
      width:1px;
      height:1px;
      background:transparent;
      right:-9999px; */
   }
   
   #apple_header #gnb .bag_cate {
      display: none;
      position: absolute;
      width: 248px;
      height: 315px;
      border: 1px solid #d6d6d6;
      background: #fff;
      top: 52px;
      right: 5px;
      font-size: 0.5em;
      z-index: 3;
      padding: 0 20px;
   }
   #apple_header #gnb .bag_cate .bag_view {
      background:#fff;
      position: absolute;
      z-index: 3;
      height:87px;
      width: 248px;
      top: 0;
      left: 0;
      padding: 0 20px;
   }
   #apple_header #gnb .bag_cate .bag_menu::before {
      display: block;
      width: 12px;
      height: 12px; 
      border: 1px solid #d6d6d6;
      position: absolute;
      transform: rotate(45deg);
      top: -7px;
      right: 11px;
      background: #fff;
      z-index: 2;
      content: "";
   }
   #apple_header #gnb .bag_cate .bag_view p {
      display: block;
      width: 248px;
      height: 87px;
      line-height: 87px;
      text-align: center;
      font-size: 15px;
      color: #888888;
      text-indent: 7px;
      border-bottom: 1px solid #e3e3e3;
      box-sizing: border-box;
   }
   #apple_header #gnb .bag_cate .bag_menu {
      width: 248px;
      margin-top: 87px;
      padding-bottom: 10px;

   }
   #apple_header #gnb .bag_cate .bag_menu li {
      padding:0 30px;
      border-bottom: 1px solid #e3e3e3;
   }
   #apple_header #gnb .bag_cate .bag_menu li:first-child {
      background: url("../images/gnb/mobile/bag_m/bag.svg") no-repeat 5px 12px;
   }
   #apple_header #gnb .bag_cate .bag_menu li:nth-child(2) {
      background: url("../images/gnb/mobile/bag_m/favorites.svg") no-repeat 5px 12px;
   }
   #apple_header #gnb .bag_cate .bag_menu li:nth-child(3) {
      background: url("../images/gnb/mobile/bag_m/orders.svg") no-repeat 5px 13px;
   }
   #apple_header #gnb .bag_cate .bag_menu li:nth-child(4) {
      background: url("../images/gnb/mobile/bag_m/account.svg") no-repeat 5px 12px;
   }
   #apple_header #gnb .bag_cate .bag_menu li:last-child {
      background: url("../images/gnb/mobile/bag_m/signIn.svg") no-repeat 5px 12px;
      border: none;
   }

   #apple_header #gnb .bag_cate .bag_menu li a {
      display: block;
      width: 100%;
      height: 43px;
      color: #0070c9;
      text-indent: left;
      line-height: 43px;
      font-size: 15px;
      text-align: left;
   }

   #apple_header #gnb #m_bagBtn:checked ~ .bag_cate {
      display: block;
   }

   #apple_header #gnb #m_menuBtn:checked ~ .bag_cate {
      display: none;
   }
}  

/* 메인 */

#main {
   width: 100%;
   padding-top: 44px;
   margin: 0 auto;
   overflow-x: hidden;
}
#main::after {
   display: block;
   content: "";
   clear: both;
}
/* 메인 상단 */

#main section>.item_hypertag {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top:0;
   left:0;
   z-index: 3;
}
#main .copytext{
   width: 100%;
   top: 0;
   padding-top:48px;
   letter-spacing: 0;
}
#main .copytext h2 {
   font-family: 'SF Display';
   text-align: center;
   color: #fff;
   font-size: 56px;
   font-weight: 500;
   line-height: 1.17873;
}
#main .copytext h3 {
   text-align: center;
   color: #fff;
   font-size: 25px;
   font-weight: 400;
   height: 34px;
   line-height: 34px;
   margin-top: 6px;
}
#main .copytext p {
   text-align: center;
   color: #888;
   height: 27px;
   margin-top: 0.4em;
}
#main .copytext p sup {
   position: relative;
   display: inline-block;
   width:10px;
   height:10px;
}
#main .copytext p sup a {
   position: absolute;
   display: block;
   width:15px;
   height:15px;
   z-index: 4;
   font-size: 10px;
   color:#888;
   top:1px;
   right:4px;
}
#main .listmore {
   display:inline-block;
   height:32px;
   line-height:32px;
   margin-top:0.7412em;
   position: relative;
   z-index: 4;
}
#main .listmore a {
   color: #6bf;
   font-size: 1.2353em;
   margin-left: 26px;
}
#main .listmore a:first-child {
   margin-left: 0;
}
#main .listmore a span:hover {
   text-decoration: underline;
}

/* 메인 상단 개별 */
#main .item1 {
   width: 100%;
   height: 580px;
   background: url("../images/main/iPhone_large_2x.jpg") no-repeat center -44px;
   background-size: 2560px 624px;
   border-bottom: 6px solid #fff;
   position: relative;
   text-align: center;
}

#main .item2 {
   width: 100%;
   height: 580px;
   background: url("../images/main/iPhone11_large_2x.jpg") no-repeat center -44px;
   background-size: 2560px 624px;
   border-top: 6px solid #fff;
   border-bottom: 6px solid #fff;
   position: relative;
   text-align: center;
}
#main .item2 .copytext h2, #main .item2 .copytext h3 {
   color: #111;
}
#main .item2 .copytext p {
   color: #888;
}
#main .item2 .listmore a {
   color: #0070c9;
}

#main .item3 {
   position: relative;
   width: 100%;
   height: 580px;
   border-top: 6px solid #fff;
   border-bottom: 6px solid #fff;
   background: #000 url("../images/main/airpodspro_large_2x.jpg") no-repeat center 220px;
   background-size: 476px 364px;
   text-align: center;
}

/* 메인 상단 모바일 */ 
@media screen and (max-width: 1068px) {
   #main section {
      background-repeat: no-repeat;
   }
   #main .top_section {
      width: 100%;
      height: 569px;
   }
   #main .top_section .copytext h2 {
      font-size: 44px;
      line-height: 53px;
   }
   #main .top_section .copytext h3 {
      font-size: 21px;
      line-height: 31px;
      font-weight: 400;
      margin-top: 5px;
   }
   #main .top_section .copytext p {
      margin-top: 7px;
      font-size: 15px;
      line-height: 1.3;
   }
   #main .listmore a {
      color: #6bf;
      font-size: 18px;
      margin-left: 26px;
   }
   #main .item1 {
      background: url("../images/main/mobile/hero_iphone11pro_medium_2x.jpg") no-repeat center -44px;
      background-size: 1068px 617px;
   }
   #main .item2 {
      background: url("../images/main/mobile/hero_iphone11_medium_2x.jpg") no-repeat center -44px;
      background-size: 1068px 617px;
   }
   #main .item3 {
      background: #000 url("../images/main/mobile/hero_airpodspro_medium_2x.jpg") no-repeat center 220px;
      background-size: 477px 364px;
   }
}
/* 메인 상단 모바일2 */
@media screen and (max-width: 735px) {
   #main .top_section {
      height: 500px;
   }
   #main .item1 {
      background-image: url("../images/main/mobile/hero_iphone11pro_small_2x.jpg");
      background-size: 736px 548px;
   }
   #main .item2 {
      background-image: url("../images/main/mobile/hero_iphone11_small_2x.jpg");
      background-size: 736px 548px;
   }
   #main .item3 {
      background-image: url("../images/main/mobile/hero_airpodspro_small_2x.jpg");
      background-size: 258px 333px;
      background-position-y: 180px;
   }
   #main .top_section .copytext {
      padding-top: 37px;
   }
   #main .top_section .copytext h2 {
      font-size: 32px;
      line-height: 40px;
   }
   #main .top_section .copytext h3 {
      font-size: 19px;
      line-height: 30px;
   }
   #main .top_section .copytext p {
      font-size: 14px;
      line-height: 22px;
   }
   #main .listmore {
      margin-top: 7px;
   }
   #main .listmore a {
      color: #6bf;
      font-size: 18px;
      line-height: 28px;
      margin-left: 20px
   }

}

/* 메인 하단 */
#main .item_more {
   display: grid;
   columns : 2;
   column-gap : 0;
}
#main .item_more article {
   height: 580px;
   background-repeat: no-repeat;
   border:6px solid #fff;
   background-size: 1262px 580px;
   background-position-x: center;
   position: relative;
}
#main .item_more article .item_hypertag {
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 3;
}

#main .item_more article .copytext_sub {
   margin: auto;
   width: 430px;
}
#main .item_more article .copytext_sub h2{
   font-family: 'SF Display';
   width: 100%;
   height: 60px;
   position: relative;
   text-align: center;
   background-repeat: no-repeat;
   background-position: center center;
}
#main .item_more article .copytext_sub h2 span {
   position: absolute;
   display: block;
   width: 1px;
   height: 1px;
   overflow: hidden;
   z-index: -1;
}
#main .item_more article .copytext_sub h3 {
   margin-top: 7px;
   height: 27px;
   text-align: center;
   font-weight: 400;
   font-size: 21px;
}
#main .item_more article .listmore_sub {
   position: relative;
   display: inline-block;
   text-align: center;
   z-index: 4;
   margin-top: 12px;
   line-height:32px;
   left: 50%;
   transform: translateX(-50%);
}
#main .item_more article .listmore_sub a {
   font-size: 17px;
   color: #0070c9;
   font-weight: 400;
}
#main .item_more article .listmore_sub a span:hover {
   text-decoration: underline;
}
#main .item_more article .listmore_sub a:first-child {
   margin-right: 26px;
} 

/* 메인 하단 개별 스타일 */
#main .item_more .sub_item01 {
   background-image: url("../images/main/watch_large_2x.jpg");
   grid-column: 1;
}
#main .item_more .sub_item01 .copytext_sub {
   margin-top: 54px;
}
#main .item_more .sub_item01 .copytext_sub h2 {
   background-image: url("../images/main/logo_tile__watch_large_2x.png");
   background-size: 156px 60px;
}

#main .item_more .sub_item02 {
   background-image: url("../images/main/iPad_large_2x.jpg");
   background-size:cover;
   grid-column: 2;
}
#main .item_more .sub_item02 .copytext_sub {
   margin-top: 34px;
}
#main .item_more .sub_item02 .copytext_sub h2 {
   background-image: url("../images/main/logo_tile__iPad_large_2x.png");
   background-size: 76px 58px;
}
#main .item_more .sub_item02 .copytext_sub h3 {
   margin-top: 13px;
}

#main .item_more .sub_item03 {
   background-image: url("../images/main/Ac_large_2x.jpg");
}
#main .item_more .sub_item03 .copytext_sub {
   margin-top: 55px;
}
#main .item_more .sub_item03 .copytext_sub h2 {
   background-image: url("../images/main/logo_tile__Ac_large_2x.png");
   background-size: 152px 36px;
   height: 36px;
   color: #fff;
}
#main .item_more .sub_item03 .copytext_sub h3 {
   height: 52px;
   color: #fff;
   font-size: 21px;
   line-height: 1.2381;
   font-weight: 400;
}
#main .item_more .sub_item03 .listmore_sub a {
   color: #fff;
}
#main .item_more .sub_item03 .listmore_sub button {
   /* all:unset; */
   color: #fff;
   width: auto;
   height: auto;
   font-size: 17px;
   border: none;
   display: inline-block;
   background: transparent;
   box-sizing: content-box;
   cursor: pointer;
}
#main .item_more .sub_item03 .listmore_sub button span:hover {
   text-decoration: underline;
}
#main .item_more .sub_item03 .listmore_sub button sup {
   position: relative;
   z-index: 5;
}
#main .item_more .sub_item03 .listmore_sub button sup a {
   font-size: 10px;
   color: #fff;
   margin:0;
}
#main .item_more .sub_item03 .listmore_sub button sup a:hover {
   color: #06c;
}
#main .item_more .sub_item04 {
   background-image: url("../images/main/macbook_pro_performance__dpg5ujd89nyq_large_2x.jpg");
}
#main .item_more .sub_item04 .copytext_sub {
   margin-top: 52px;
}
#main .item_more .sub_item04 .copytext_sub h2 {
   height: 48px;
   line-height: 48px;
   font-size: 40px;
   font-weight: 600;
   color: #fff;
   margin-top: 9px;
}
#main .item_more .sub_item04 .copytext_sub h3 {
   color: #fff;
   font-size: 21px;
   line-height: 26px;
   font-weight: 400;
}
#main .item_more .sub_item04 .listmore_sub a {
   color: #6bf;
}
/* 메인하단 모바일 */
@media screen and (max-width: 1068px) {
   #main .item_more article {
      height: 490px;
      background-size: 516px 490px;
   }
   #main .item_more article .copytext_sub {
      margin: auto;
      width: 330px;
   }
   #main .item_more article .copytext_sub h2 {
      font-size: 32px;
   }
   #main .item_more article .copytext_sub h3 {
      font-size: 17px;
      line-height: 1.5;
      margin-top: 7px;
   }
   #main .item_more article .listmore_sub {
      line-height: 23px;
      margin-top: 8px;
   }
   #main .item_more article .listmore_sub a, #main .item_more article .listmore_sub button
    {
      font-size: 15px;
   }
   /* 메인 개별 하단 */
   #main .item_more article.sub_item03 .copytext_sub h3,
   #main .item_more article.sub_item04 .copytext_sub h3 
   {
      font-size: 17px;
      line-height: 1.5;
      margin-top: 7px;
      letter-spacing: -0.05em;
   }
   #main .item_more .sub_item01 {
      background-image: url("../images/main/mobile/tile_watch_medium_2x.jpg");
   }
   #main .item_more .sub_item02 {
      background-image: url("../images/main/mobile/tile_ipad_medium_2x.jpg");
   }
   #main .item_more .sub_item03 {
      background-image: url("../images/main/mobile/tile_ac_medium_2x.jpg");
   }
   #main .item_more .sub_item04 {
      background-image: url("../images/main/mobile/macbook_pro_performance_medium_2x.jpg");
   }
}
/* 메인 하단 모바일 2 */
@media screen and (max-width: 735px) {
   #main section.item_more {
      display: block;
      columns: 1;
   }
   #main section.item_more article {
      height: 500px;
      background-size: 736px 548px;
      background-position: center -48px;
   }
   #main section.item_more .sub_item01 {
      background-image: url("../images/main/mobile/tile_watch_small_2x.jpg");
   }
   #main section.item_more .sub_item02 {
      background-image: url("../images/main/mobile/tile_ipad_small_2x.jpg");
      background-position: center top;
   }
   #main section.item_more .sub_item03 {
      background-image: url("../images/main/mobile/tile_ac_small_2x.jpg");
   }
   #main section.item_more .sub_item04 {
      background-image: url("../images/main/mobile/macbook_pro_performance_small_2x.jpg");
   }
   #main section.item_more article .copytext_sub {
      margin-top: 34px !important;
   }
}

/* 푸터 */
#footer {
   background: #f5f5f7;
}
#footer .footer_inner {
   max-width: 980px;
   margin: 0 auto;
   font-size: 12px;
   padding:0 22px;
}

#footer .footer_inner .remark {
   padding: 17px 0 11px 0;
   border-bottom: 1px solid #d2d2d7;
}
#footer .footer_inner .remark li {
   list-style: inside decimal;
   font-size: 1em;
   color: #86868b;
   padding-bottom: 10px;
   line-height: 16px;
}

/* 푸터 메뉴 */
#footer .footer_inner .f_menu {
   display: flex;
   padding-top: 20px;
}
#footer .footer_inner .f_menu .list_wrap {
   flex-basis:20%;
   color: #1d1d1f;
}
#footer .footer_inner .f_menu .list_wrap .list  .fmBtn {
   font-size: 1em;
   color: #1d1d1f;
   font-weight: 500;
   margin: 0 20px 10px 0;
   line-height: 1.3337;
   display: block;
}
#footer .footer_inner .f_menu .list_wrap .list:nth-child(2) {
   padding-top: 24px;
}
#footer .footer_inner .f_menu .list_wrap .list .fm_list {
   margin-right: 20px;
}
#footer .footer_inner .f_menu .list_wrap .list .fm_list li {
   margin-bottom: 10px;
}
#footer .footer_inner .f_menu .list_wrap .list .fm_list li a{
   display: block;
   text-align: left;
   font-size: 1em;
   font-weight: 400;
   color: #515154;
}
#footer .footer_inner .f_menu .list_wrap .list .fm_list li a:hover {
   text-decoration: underline;
}
#footer .footer_inner .f_menu .list #listBtn_active {
   display: none;
}
/* 푸터 메뉴 모바일 */
@media screen and (max-width: 767px) {
   #footer .footer_inner .f_menu {
      display: block;
   }
   #footer .footer_inner .f_menu .fm_list {
      display:none;
      overflow: hidden;
      transition: 0.7s;
   }
   #footer .footer_inner .f_menu #listBtn_active:checked ~ .fm_list {
      display: block;
   }
   #footer .footer_inner .f_menu .list_wrap .list:nth-child(2) {
      padding-top: 0px;
   }
}

/* 회사 정보 */

/* 상단 */
#footer .footer_inner .company_info {
   padding-top: 34px;
}
#footer .footer_inner .company_info .info_top {
   padding-bottom: 8px;
   margin-bottom: 7px;
   border-bottom: 1px solid #d2d2d7;
   color: #86868b;
   letter-spacing: 0.0416em;
}
#footer .footer_inner .company_info .info_top a {
   color: #06c;
}
#footer .footer_inner .company_info .info_top a:hover {
   text-decoration: underline;
}

/* 중간 */
#footer .footer_inner .company_info .info_mid::after {
   display: block;
   content: "";
   clear: both;
}
#footer .footer_inner .company_info .info_mid .copyright {
   height: 26px;
   float: left;
   line-height: 26px;
   color: #86868b;
   margin-right: 30px;
}
#footer .footer_inner .company_info .info_mid .link {
   height: 26px;
   float: left;
}
#footer .footer_inner .company_info .info_mid .link li {
   float: left;
   margin-top: 5px;
   line-height: 16px;
   padding: 0 10px;
   border-left: 1px solid #d2d2d7;
}
#footer .footer_inner .company_info .info_mid .link li:first-child {
   border:none;
   padding-left: 0;
}
#footer .footer_inner .company_info .info_mid .link li a {
   color: #515154;
   font-weight: 400;
}
#footer .footer_inner .company_info .info_mid .link li a:hover {
   text-decoration: underline;
}
#footer .footer_inner .company_info .info_mid .local {
   height: 16px;
   float: right;
   padding-top: 3px;
}
#footer .footer_inner .company_info .info_mid .local a {
   vertical-align: bottom;
   color: #515154;
}
#footer .footer_inner .company_info .info_mid .local a:hover {
   text-decoration: underline;
}
#footer .footer_inner .company_info .info_mid .local span {
   display: inline-block;
   width: 16px;
   height: 16px;
   border-radius: 16px;
   margin-right: 3px;
   background: url("../images/footer/32.png") no-repeat;
   background-size: 16px 16px;
   vertical-align: text-top;
}

/* 주소 */
#footer .footer_inner address {
   font-size: 11px;
   font-style: normal;
   letter-spacing: 0;
   color: #999;
   padding-bottom: 20px;
}