@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800|Open+Sans:400,600,700&display=swap');

body {
   font-family: "Open Sans", "맑은 고딕", "Malgun Gothic", "나눔 고딕", "Nanum Gothic", dotum;
   text-align: center;
   color: rgb(136, 136, 136);
   font-size: 16px;
   
}
.wrap {
   position: relative;
   min-width: 1000px;
}

#quick {
   position: fixed;
   top: 255px;
   right: 30px;
   z-index: 30;
}
#quick .menu_quick li {
   margin-top: 20px;
}
#quick .menu_quick li a {
   display: block;
   width: 20px;
   height: 20px;
   border-radius: 20px;
   background: url("../images/page_bg.png") no-repeat left top;
   text-indent: -9999px;
}
#quick .menu_quick li:first-child {
   margin:0;
}
#quick .menu_quick li.on a {
   background-position-y: -20px
}
#quick .menu_quick li a:hover {
   background-position-y: -20px
}

.section01 {
   width: 100%;
   height: 1277px;
   position: relative;
   background-color: #dcd8d5;
   z-index: 20;
}
.section01 .btn_shop{
   position: absolute;
   left: 20px;
   top: 17px;
}
.section01 .btn_shop img {
   width: 57px;
}
.section01 .btn_shop2{
   position: absolute;
   right: 30px;
   top: 27px;
}
.section01 .btn_shop2 img {
   width: 37px;
}
.section01 .section01_inner {
   position: relative;
   width: 1000px;
   margin: 0 auto;
   height: 1277px;
   background: url("../images/podopod_mycat_for_apple_iphone_6_cat.jpg")no-repeat right bottom;
}
.section01 .section01_inner .tit {
   width: 400px;
   height: auto;
   position: absolute;
   left: 30px;
   top: 350px;
}
.section01 .section01_inner .tit p {
   font-size: 14px;
   line-height: 18px;
   color: #978f88;
   margin-top: 20px;
   letter-spacing: normal;
}
.section01 .section01_inner .tit a {
   display: block;
   margin-top: 30px;
}

/* 헤더 */
#header {
   width: 100%;
   background: url("../images/header_bg.png") repeat left top;
   height: 90px;
   z-index: 30;
}
.fixed {
   position: absolute;
   left: 0;
   top: 1277px;
}
.moving {
   position: fixed;
   left: 0;
   top: 0;
}
#header .logo {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
#header .btn_logo02 {
   position: absolute;
   left: 20px;
   top: 16px;
}
#header .btn_logo02 img {
   width: 57px; 
}
#header .btn_cart02 {
   position: absolute;
   right: 30px;
   top: 27px;
}
#header .btn_cart02 img{
   width: 36px;
}

.section02 {
   width: 100%;
   height: 1025px;
   background: url("../images/con_02_bg.jpg") repeat-x left top;
   position: relative;
}
.section02 .section02_inner {
   width: 1000px;
   height: 1025px;
   margin: 0 auto;
   position: relative;
}
/* 핸드폰 케이스 애니메이션 */
.section02 .section02_inner .case {
   position: absolute;
   /* top: 120px; */
   left: 45px;
   top: -1000px;
   z-index: 18;
}
.section02 .section02_inner .move {
   animation: caseMove 2s ease ;
   animation-fill-mode: forwards;
}
.section02 .section02_inner .case img {
   width: 431px;
}
.section02 .section02_inner .txt {
   position: absolute;;
   text-align: left;
   right:0;
   top: 250px;
   width: 472px;
}
.section02 .section02_inner .txt  h3 {
   margin-top: 20px;
   font-size: 24px;
   color: #d1b694;
   line-height: 24px;
}
.section02 .section02_inner .txt  p {
   color: #c1b9b2;
   line-height: 26px;
   margin-top: 20px;
   font-size: 1em;
   letter-spacing: -1px
}
.section02 .section02_inner .txt .btn_con02 {
   display: block;
   margin-top: 30px;
}
.section02 .section02_inner .txt .copy {
   margin-top: 140px;
}
.section02 .section02_inner .txt .copy img {
   display: block;
}
.section02 .section02_inner .txt .copy .design_txt {
   margin: 10px;
   font-size: 11px;
   line-height: 13px;
   color: #8f8c88;
}
.section02 .section02_inner .txt .copy .design_txt2 {
   width: 472px;
   height: 39px;
   font-size: 11px;
   color: #8f8c88;
   line-height: 13px;
   letter-spacing: normal;
}

@keyframes caseMove {
   0%{}
   50%{transform: translateY(1300px);}
   100%{transform: translateY(1120px);}
}

.section03 {
   width: 100%;
   height: 1000px;
   position: relative;
   overflow: hidden;
}
.section03 .section03_inner {
   width: 1000px;
   height: 1000px;
   margin: 0 auto;
   position: relative;
}
.section03 .section03_inner .tit {
   padding-top: 145px;
   position: absolute;
   top: 0px;
   z-index: 4;
   left: 50%;
   transform: translateX(-50%);
}
.section03 .section03_inner .tit h3 {
   font-size: 32px;
   color: #444;
   font-weight: bold;
   line-height: 32px;
}
.section03 .section03_inner .tit p {
   font-size: 16px;
   color: #666;
   line-height: 24px;
   margin-top: 10px;
}
.section03 .section03_inner .tit .btn_con03 {
   display: inline-block;
   margin-top: 30px;
}
.section03 .section03_inner .imagesGroup {
   position: absolute;
   height: 1000px;
   top:0;
}
.section03 .section03_inner .imagesGroup img {
   position: absolute;
   top: 1000px;
}
.section03 .section03_inner .imagesGroup .img01 {
   top: 1000px;
   z-index: 2;
}
.section03 .section03_inner .imagesGroup_move .img01 {
   animation: img01_ani 4s ease;
   animation-fill-mode: forwards;
}
.section03 .section03_inner .imagesGroup .img02 {
   top: 100px;
   opacity:0;
   z-index: 1;
}
.section03 .section03_inner .imagesGroup_move .img02 {
   animation: img02_ani 4s ease 1s 0;
   animation-fill-mode: forwards;
}


@keyframes img01_ani {
   0%{top:1000px;}
   25%{top: 100px;}
   50%{top: 100px; opacity: 1;}
   75%{top: 100px; opacity: 1;}
   100%{top: 100px; opacity: 0;}
}
@keyframes img02_ani {
   to{opacity: 0;}
   from{opacity: 1;}
}

/* 섹션4 */
.section04 {
   width: 100%;
   height: 1140px;
   background: url("../images/con_04_bg.jpg") repeat-x left top;
   overflow: hidden;
}
.section04 .section04_inner {
   width: 1000px;
   margin: 0 auto;
   height: 1140px;
   position: relative;
}
.section04 .section04_inner .tit {
   position: absolute;
   width: 1000px;
   left: calc(50% - 500px);
   top: 140px;
}
.section04 .section04_inner .tit h3 {
   color: #dcd8d5;
   font-size: 32px;
   font-weight: bold;
   line-height: 32px;
}
.section04 .section04_inner .tit p {
   font-size: 16px;
   color: #999;
   line-height: 24px;
   margin-top: 10px;
}
.section04 .section04_inner .tit .btn_con04 {
   display: inline-block;
   margin-top: 30px;
}
/* 섹션04 이미지 */
.section04 .section04_inner .img_group {
   position: absolute;
   width: 1000px;
   height: 1140px;
   left: 0;
   bottom: -100%;
}
.section04 .section04_inner .img_group_moving {
   animation: sec04move 3s ease;
   animation-fill-mode: forwards;
}
.section04 .section04_inner .img_group img {
   display: inline-block;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom:0;
}
.section04 .section04_inner .img_group img.img02_sec04 {
   bottom: -500px;
}
.section04 .section04_inner .img_group_moving img.img02_sec04 {
   animation:sec04_move_02 3s ease 3s;
   animation-fill-mode: forwards;
}
@keyframes sec04move {
   0%{bottom: -100%;}
   100%{bottom:0px; }
}
@keyframes sec04_move_02 {
   0%{bottom:-500px; }
   50%{bottom: -200px;}
   100%{bottom:-500px}
}

/* 섹션 5 */
.section05 {
   width: 100%;
   height: 1040px;
   position: relative;
   background-color: #dcd8d5;
   overflow: hidden;
}
.section05 .section05_inner {
   width: 1000px;
   height: 1040px;
   position: relative;
   margin: 0 auto;
}
.section05 .section05_inner .tit {
   position: absolute;
   width: 1000px;
   left: calc(50% - 500px);
   top: 140px;
}
.section05 .section05_inner .tit h3 {
   color: #444;
   font-size: 32px;
   font-weight: bold;
   line-height: 32px;
}
.section05 .section05_inner .tit p {
   font-size: 16px;
   color: #847b73;
   line-height: 24px;
   margin-top: 10px;
}
.section05 .section05_inner .tit .btn_con05 {
   display: inline-block;
   margin-top: 30px;
}
.section05 .section05_inner .img_group {
   width: 1000px;
   height: 1025px;
   position: absolute;
   left: 0;
   bottom: 0;
}
.section05 .section05_inner .img_group img {
   position: absolute;
   right:-20px;
   top: 610px;
}
.section05 .section05_inner .img_group_moving img.img02_sec05 {
   animation:sec05move01 3s ease;
   animation-fill-mode: forwards;
}
.section05 .section05_inner .img_group_moving img.img03_sec05 {
   animation:sec05move02 3s ease;
   animation-fill-mode: forwards;
}
@keyframes sec05move01 {
   0% {top: 610px;}
   100% {top: 500px;}
}
@keyframes sec05move02 {
   0% {top: 610px;}
   100% {top: 330px;}
}

/* 섹션06 */
.section06 {
   width: 100%;
   height: 1000px;
   background: url("../images/con_12_bg.jpg") repeat-x left top;
   overflow: hidden;
}
.section06 .section06_inner {
   width: 1000px;
   height: 1000px;
   margin: 0 auto;
   position: relative;
}
.section06 .section06_inner .text1 {
   position: absolute;
   width: 470px;
   left: 0;
   top: 220px;
}
.section06 .section06_inner .text2 {
   position: absolute;
   width: 285px;
   right: 0;
   bottom: 120px;
}
.section06 .section06_inner .text1 h3 {
   color: #dcd8d5;
   font-size: 32px;
   font-weight: bold;
   letter-spacing: normal;
   width: 100%;
   line-height: 32px;
}
.section06 .section06_inner .text1 p {
   color: #999;
   font-size: 16px;
   line-height: 24px;
   margin-top: 10px;
   letter-spacing: -0.5px;
}
.section06 .section06_inner .text1 p sup {
   font-size: 12px;
}
.section06 .section06_inner .text1 .btn_con06 {
   display: inline-block;
   margin-top: 30px;
}
.section06 .section06_inner .text2 h3 {
   color: #dcd8d5;
   font-size: 32px;
   font-weight: bold;
   letter-spacing: normal;
   width: 100%;
   line-height: 32px;
}
.section06 .section06_inner .text2 p {
   color: #999;
   font-size: 16px;
   line-height: 24px;
   margin-top: 10px;
   letter-spacing: -0.5px;
}
.section06 .section06_inner .text2 p sup {
   font-size: 12px;
}
.section06 .section06_inner .imgbox {
   position: absolute;
   width: 1000px;
   height: 1000px;
   left: 0;
   top: 0;
}
.section06 .section06_inner .imgbox .case1 {
   position: absolute;
   left: 50%;
   top: -75%;
   transform: translateX(-50%);
}
.section06 .moving .imgbox .case1 {
   animation: sec06_1 2s ease-out ;
   animation-fill-mode: forwards;
}
.section06 .section06_inner .imgbox .case2 {
   position: absolute;
   right: 290px;
   bottom:-75%;
}
.section06 .moving .imgbox .case2 {
   animation: sec06_2 2s ease-out ;
   animation-fill-mode: forwards;
}
.section06 .section06_inner .line {
   position: absolute;
   right: 322px;
   bottom:-75%;
}
.section06 .moving .line {
   animation: sec06_2 2s ease-out 2s;
   animation-fill-mode: forwards;
}
.section06 .section06_inner .line2{
   position: absolute;
   right: 242px;
   bottom: 306px;
   width: 80px;
   height: 15px;
   text-align: right;
   opacity: 0;
   background: url("../images/mycat_case_iphone6_con12_side_line02_right.png") no-repeat left center;
}
.section06 .moving .line2 {
   animation: eff 1s ease 4s;
   animation-fill-mode: forwards;
}
.section06 .section06_inner .line2 span {
   font-size: 14px;
   color: #999;
}
.section06 .section06_inner .effect {
   position: absolute;
   width: 244px;
   height: 244px;
   opacity: 0;
}
.section06 .moving .effect {
   animation: eff 1s ease 2s;
   animation-fill-mode: forwards;
}
.section06 .section06_inner .efec1 {
   left: 50px;
   bottom: 60px;
}
.section06 .section06_inner .efec2 {
   right: 25px;
   top: 90px;
}
.section06 .section06_inner .effect img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
}
.section06 .moving .effect img:first-child {
   animation: eff1 4s linear 2s infinite;

}
.section06 .moving .effect img:nth-child(2) {
   animation: eff2 4s linear 2s infinite;
}
.section06 .moving .effect img:nth-child(3) {
   animation: eff3 4s linear 2s infinite;
}
.section06 .moving .effect img:nth-child(4) {
   animation: eff4 4s linear 2s infinite;
}
.section06 .moving .effect img:nth-child(5) {
   animation: eff5 4s linear 2s infinite;
}
.section06 .moving .effect img:last-child {
   animation: eff6 4s linear 2s infinite;
}
/* @keyframes eff {
   0% {opacity:0;}
   25% {opacity:.5;}
   50% {opacity:1;}
   75% {opacity:.5;}
   100% {opacity:0;}
}*/
@keyframes sec06_1 {
   from{top: -75%;}
   to{top: 120px;}
}
@keyframes sec06_2 {
   from{bottom: -75%;}
   to{bottom: 0px;}
}
@keyframes eff {
   from {opacity:0;}
   to {opacity:1;}
}

@keyframes eff1 {
   0% {opacity:0;}
   12.5% {opacity:1;}
   50% {opacity:0;}
   62.5% {opacity:0;}
   75% {opacity:0;}
   87.5% {opacity:0;}
   100%{opacity:0;}
}
@keyframes eff2 {
   0% {opacity:0;}
   12.5% {opacity:0;}
   25% {opacity:1;}
   62.5% {opacity:0;}
   75% {opacity:0;}
   87.5% {opacity:0;}
   100%{opacity:0;}
}
@keyframes eff3 {
   0% {opacity:0;}
   12.5% {opacity:0;}
   25% {opacity:0;}
   37.5% {opacity:1;}
   75% {opacity:0;}
   87.5% {opacity:0;}
   100%{opacity:0;}
}
@keyframes eff4 {
   0% {opacity:0;}
   12.5% {opacity:0;}
   25% {opacity:0;}
   37.5% {opacity:0;}
   50% {opacity:1;}
   75% {opacity:0;}
   87.5% {opacity:0;}
   100%{opacity:0;}
}
@keyframes eff5 {
   0% {opacity:0;}
   12.5% {opacity:0;}
   25% {opacity:0;}
   37.5% {opacity:0;}
   50% {opacity:0;}
   62.5% {opacity:1;}
   87.5% {opacity:0;}
   100%{opacity:0;}
}
@keyframes eff6 {
   0% {opacity:0;}
   12.5% {opacity:0;}
   25% {opacity:0;}
   37.5% {opacity:0;}
   50% {opacity:0;}
   62.5% {opacity:0;}
   75% {opacity:1;}
   100%{opacity:0;}
}

/* 섹션07 */
.section07 {
   width: 100%;
   height: 1000px;
   background-color: #efefef;
   overflow: hidden;
}
.section07 .section07_inner {
   width: 1000px;
   height: 1000px;
   margin: 0 auto;
   position: relative;
}
.section07 .section07_inner .text {
   position: absolute;
   width: 380px;
   right:0px;
   top: 410px;
   text-align: left;
}
.section07 .section07_inner .text h3 {
   font-size: 32px;
   color: #444;
   font-weight: bold;
}
.section07 .section07_inner .text p {
   color: #847b73;
   font-size: 16px;
   line-height: 24px;
   margin-top: 10px;
}
.section07 .section07_inner .text .btn_con07 {
   display: inline-block;
   margin-top: 30px;
}
.section07 .section07_inner .imgbox {
   position: absolute;
   left: -135px;
   bottom: -90%;
}
.section07 .moving .imgbox {
   animation: sec07 2s ease ;
   animation-fill-mode: forwards;
}
@keyframes sec07 {
   from{bottom: -90%;}
   to{bottom:0;}
}

/* 섹션08 */
.section08 {
   width: 100%;
   height: 983px;
   overflow: hidden;
   position: relative;
}

.section08 .section08_inner {
   width: 1000px;
   height: 983px;
   margin: 0 auto;
   position: relative;
}
.section08 .section08_inner .text {
   position: absolute;
   left: calc(50% - 500px);
   top: 140px;
   width: 1000px;
}
.section08 .section08_inner .text h3 {
   font-size: 32px;
   color: #fff;
   font-weight: bold;
   line-height: 32px;
}
.section08 .section08_inner .text p {
   font-size: 16px;
   color: #fff;
   line-height: 24px;
   margin-top: 10px;
}
.section08 .section08_inner .text .btn_con08 {
   display: inline-block;
   margin-top: 30px;
}

/* 슬라이더 */
.section08 .slide_outter {
   position: absolute;
   width: 1600px;
   height: 983px;
   left: calc(50% - 800px);
}
.section08 .slide {
   width: 1600px;
   height: 983px;
   margin: 0 auto;
   position: relative;
}
.section08 .slide .box {
   display: block;
   width: 1600px;
   height: 983px;
}
.section08 .slide img {
   display: block;
   position: absolute;
   left: calc(50% - 800px);
   top: 0;
   width: 1600px;
   height: 983px;
   opacity:0;
   /* transform: scale(0.9); */
   transition: opacity 0.6s ease-in-out;
}
.section08 .slide img.showing {
   opacity:1;
   /* transform: scale(1); */
}

.section08 .slide_outter .btn_arrow {
   position: absolute;
   z-index: 15;
   top: 454px;
   border: none;
   background-color: transparent;
   padding: 0;
   background-repeat: no-repeat;
   background-position: center center;
   width: 42px;
   height: 77px;
   text-indent: -9999px;
   cursor: pointer;
}
.section08 .slide_outter .btn_prev {
   left: calc(50% - 487px);
   background-image: url("../images/con_05_slide_left.png");
}
.section08 .slide_outter .btn_next {
   right: calc(50% - 487px);
   background-image: url("../images/con_05_slide_right.png");
}

/* 섹션09 */
.section09 {
   width: 100%;
   height: 1150px;
   overflow: hidden;
   background-color: #fff;
}
.section09 .section09_inner {
   width: 1000px;
   height: 1150px;
   position: relative;
   margin: 0 auto;
}
.section09 .section09_inner .imgbox {
   width: 1000px;
   height: auto;
   position: absolute;
   left:0;
   bottom: 27px;
}
.section09 .section09_inner .imgbox .case1_sec09 {
   position: absolute;
   bottom:0;
   left: 45%;
   transform: translateX(-50%);
}
.section09 .moving .imgbox .case1_sec09 {
   animation: sec09_1 3s ease-out ;
   animation-fill-mode: forwards;
}
.section09 .section09_inner .imgbox .case2_sec09 {
   position: absolute;
   bottom:0;
   right: 45%;
   transform: translateX(50%);
}
.section09 .moving .imgbox .case2_sec09 {
   animation: sec09_2 3s ease-out ;
   animation-fill-mode: forwards;
}

@keyframes sec09_1 {
   from{left: 45%;}
   to{left: 15%;}
}
@keyframes sec09_2 {
   from{right: 45%;}
   to{right: 15%;}
}
/* 텍스트 */
.section09 .section09_inner .text {
   position: absolute;
   left: calc(50% - 500px);
   top: 440px;
   width: 1000px;
   opacity: 1;
}
.section09 .section09_inner .text h3 {
   font-size: 32px;
   color: #444;
   font-weight: bold;
   line-height: 32px;
   opacity: 0;
}
.section09 .section09_inner .text p {
   font-size: 16px;
   color: #666;
   line-height: 24px;
   margin-top: 10px;
   opacity: 0;
}
.section09 .section09_inner .text .btn_con09 {
   display: inline-block;
   margin-top: 30px;
   opacity: 0;
}
.section09 .moving .text h3{
   animation: sec09_opac 1s ease 1s;
   animation-fill-mode: forwards;
}
.section09 .moving .text p{
   animation: sec09_opac 1s ease 1.5s;
   animation-fill-mode: forwards;
}
.section09 .moving .text .btn_con09{
   animation: sec09_opac 1s ease 2s;
   animation-fill-mode: forwards;
}
@keyframes sec09_opac {
   from {opacity: 0;}
   to {opacity: 1;}
}

/* 섹션10 */
.section10 {
   width: 100%;
   height: 1077px;
   overflow: hidden;
   background: #211f1f url("../images/case/con_10_bg.jpg") no-repeat center top;
}
.section10 .section10_inner {
   width: 1000px;
   height: 1150px;
   position: relative;
   margin: 0 auto;
}
/* 케이스 이미지 */
.section10 .section10_inner .mobile {
   position: absolute;
   width: 1000px;
   height: 1150px;
   left: 0;
   bottom:-75%;
}
.section10 .moving .mobile {
   animation: sec10_move 2s ease forwards;
}
@keyframes sec10_move {
   from{bottom: -75%;}
   to {bottom:0;}
}
.section10 .section10_inner .mobile .case_d {
   position: absolute;
   left: 51%;
   top: 247px;
   transform: translateX(-50%);
}
.section10 .section10_inner .mobile .case li {
   position: absolute;
   left: 51%;
   top: 247px;
   transform: translateX(-50%);
   opacity: 0;
   transition: opacity 0.4s;
}
.section10 .section10_inner .mobile .case li.on {
   opacity: 1;
}
.section10 .section10_inner .btn_case_box {
   position: absolute;
   width: 1000px;
   height: 1000px;
   left: 0;
   top: 0;
}
.section10 .section10_inner .btn_case_box .btn_case {
   position: absolute; 
   top: 405px;
   width: 260px;
   z-index: 20;
}
.section10 .section10_inner .btn_case_box .btn_case_left {
   left: 0;
   text-align: right;
   white-space: nowrap;
}
.section10 .section10_inner .btn_case_box .btn_case_right {
   right: 0;
   top: 450px;
   text-align: left;
   white-space: nowrap;
}
.section10 .section10_inner .btn_case_box .btn_case a {
   display: block;
   width: 260px;
}
.section10 .section10_inner .btn_case_box .btn_case span {
   display: inline-block;
   font-size: 14px;
   color: #555;
   font-weight: bold;
   line-height: 65px;
   letter-spacing: normal;
}
.section10 .section10_inner .btn_case_box .btn_case li.on a span{
   color: #fff;
}

/* 텍스트 */
.section10 .section10_inner .text {
   position: absolute;
   left: calc(50% - 500px);
   top: 140px;
   width: 1000px;
}
.section10 .section10_inner .text h3 {
   font-size: 32px;
   color: #625f5d;
   font-weight: bold;
   line-height: 32px;
}
.section10 .section10_inner .text .btn_con10 {
   display: inline-block;
   margin-top: 30px;
}

/* 섹션11 */
.section11 {
   width: 100%;
   height: 1140px;
   background-color: #e7e7e7;
   overflow: hidden;
}
.section11 .section11_inner {
   width: 1000px;
   height: 1140px;
   margin:0 auto;
   position: relative;
}
.section11 .section11_inner .imgbox {
   width: 1000px;
   height: 1140px;
   position: absolute;
   left:0;
   bottom: 0;
}
.section11 .section11_inner .imgbox .case1_sec11 {
   position: absolute;
   top: 49%;
   left: -105%;
}
.section11 .moving .imgbox .case1_sec11 {
   animation: sec11_01 3s ease;
   animation-fill-mode: forwards;
}
.section11 .section11_inner .imgbox .case2_sec11 {
   position: absolute;
   top: 31%;
   left: 127%;
}
.section11 .moving .imgbox .case2_sec11 {
   animation: sec11_02 3s ease;
   animation-fill-mode: forwards;
}
@keyframes sec11_01 {
   from { left: -105%;}
   to {left: -5%;}
}
@keyframes sec11_02 {
   from { left: 127%;}
   to {left: 27%;}
}
/* 텍스트 */
.section11 .section11_inner .text {
   position: absolute;
   left: calc(50% - 500px);
   top: 140px;
   width: 1000px;
}
.section11 .section11_inner .text h3 {
   font-size: 32px;
   color: #444;
   font-weight: bold;
   line-height: 32px;
}
.section11 .section11_inner .text p {
   font-size: 14px;
   color: #666;
   line-height: 24px;
   margin-top: 10px;
}
.section11 .section11_inner .text .btn_con11 {
   display: inline-block;
   margin-top: 30px;
}

/* 섹션12 */
.section12 {
   width: 100%;
   height: auto;
   overflow: hidden;
   background-color: #fcf5ec;
}
.section12 .section12_inner {
   width: 1000px;
   height: 848px;
   margin: 0 auto;
   position: relative;
}
/* 이미지 */
.section12 .section12_inner .imgbox {
   position: absolute;
   left: 50%;
   bottom:0;
   transform: translateX(-60%);
   opacity: 0;
}
.section12 .moving .imgbox {
   animation: sec12_01 3s ease;
   animation-fill-mode: forwards;
}
@keyframes sec12_01 {
   from{transform: translateX(-60%);
                   opacity: 0;}
   to{transform: translateX(-50%);
                   opacity: 1;}
}
/* 텍스트 */
.section12 .section12_inner .text {
   position: absolute;
   left: 50%;
   top: 538px;
   transform: translateX(-50%);
}
.section12 .section12_inner .text p {
   margin-top: 10px;
   font-size: 14px;
   color: #d1b694;
   font-weight: 600;
   line-height: 20px;
   opacity: 0;
}
.section12 .section12_inner .text .sec12_link {
   display: inline-block;
   margin-top: 20px;
   font-size: 14px;
   color: #888;
   opacity: 0;
}
.section12 .moving .text p,
.section12 .moving .text .sec12_link {
   animation: sec12_02 2s ease;
   animation-fill-mode: forwards;
}
@keyframes sec12_02 {
   from{opacity: 0;}
   to{opacity: 1;}
}

.section12 .visual_box {
   width: 100%;
   height: auto;
}
.section12 .visual_box .menu_visual {
   display: flex;
   flex-wrap: wrap;
}
.section12 .visual_box .menu_visual li {
   width: 25%;
   height: auto;
}
.section12 .visual_box .menu_visual li img {
   width:100%;
}
/* 텍스트 */
.section12 .visual_box h4 {
   font-size: 32px;
   color: #444;
   font-weight: bold;
   line-height: 32px;
   padding-top: 75px;
}
.section12 .visual_box .txt1 {
   font-size: 16px;
   color: #444;
   letter-spacing: -1px;
   padding-top: 45px;
}
.section12 .visual_box .txt2 {
   font-size: 14px;
   color: #888;
   line-height: 20px;
   letter-spacing: -1px;
   padding-top: 5px;
   padding-bottom: 30px;
}
.section12 .visual_box .txt3 {
   font-size: 16px;
   color: #444;
   letter-spacing: -1px;
   padding-top: 45px;
}
.section12 .visual_box .txt4 {
   font-size: 14px;
   color: #888;
   line-height: 20px;
   letter-spacing: -1px;
   padding-top: 5px;
   padding-bottom: 30px;
}


/* 설명 */
.section12 .visual_box .pro {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.section12 .visual_box .pro li{
   width: 25%;
   height: auto;
}
.section12 .visual_box .pro img{
   width:100%;
}

/* 푸터 */
#footer {
   padding: 53px 0 145px 0;
   width: 100%;
   height: 65px;
}
#footer .logo_f {
   line-height: 33px;
}
#footer .copy {
   font-size: 12px;
   color: #666;
   margin-top: 20px;
}